<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

  <link rel="stylesheet" type="text/css" href="home.component.css">

</head>
<body>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="width:100vw">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button> <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">

            <img src="assets/img/sniper6.jpg" class="d-block w-100" alt="Second Slide">

    </div>
    <div class="carousel-item">

      <img src="assets/img/sniper1.jpg" class="d-block w-100" alt="Second Slide">

      <div class="carousel-caption d-none d-md-block">

                <a href="https://coldsniper.com/dashboard2" target="_blank" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>

        <h1>Target. Celebrate. Repeat.</h1>
        <p>Browse a vast archive of matches, reliving iconic moments and historic triumphs.</p>
      </div>
    </div>

    <div class="carousel-item">

      <img src="assets/img/sniper9.jpg" class="d-block w-100" alt="Second Slide">

      <div class="carousel-caption d-none d-md-block">

        <!--      <a href="dashboard2" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>-->

        <h1>Game On. Go!</h1>
        <p>Find your desired game effortlessly through our user-friendly interface and filters.</p>
      </div>
    </div>    <div class="carousel-item">


    <img src="assets/img/sniper3.jpg" class="d-block w-100" alt="Second Slide">

    <div class="carousel-caption d-none d-md-block">

      <!--      <a href="dashboard2" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>-->

      <h1>Prime Unleashed. Snipe.</h1>
      <p>Stay updated with live hits, commentary, and interactive prime trackers worldwide.</p>
    </div>
  </div>
    <div class="carousel-item">

      <img src="assets/img/sniper7.jpg" class="d-block w-100" alt="Second Slide">

      <div class="carousel-caption d-none d-md-block">

        <!--        <a href="dashboard2" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>-->

        <h1>Passion. Precision. Play.</h1>
        <p>Experience the thrill of Prime in high-definition video streams, capturing every detail.</p>
      </div>
    </div>
    <div class="carousel-item">


      <img src="assets/img/sniper5.jpg" class="d-block w-100" alt="Second Slide">

      <div class="carousel-caption d-none d-md-block">

        <!--        <a href="dashboard2" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>-->

        <!--        <h1>Feel the electricity in the air as targets are celebrated and tension rises </h1>-->
        <p>Engage with a vibrant community, discussing snipes and connecting with fellow fans.</p>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="News_cards" >
  <a ><div class="News_card1 card-body">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m14.096 3.076l1.634 2.292L24 3.076M5.503 20.924l4.474-4.374l-2.692-2.89m6.133-10.584L11.027 5.23l4.022.15M4.124 3.077l.857 1.76l4.734.294m-3.058 7.072l3.497-6.522L0 5.13m7.064 7.485l3.303 3.548l3.643-3.57l1.13-6.652l-4.439-.228Z"/></svg>
    <h4 class="card-title" alt="Transparent MDB Logo" id="animated-img1" >Thrilling. Electrifying. Super</h4>
    <hr>
    <p class="card-text">Stay up to date with the latest snipes happening around the globe. </p>

  </div></a>
  <a href="#"><div class="News_card2 card-body">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2h-4zM4 6h16v10H4V6z"/></svg>
    <h4 class="card-title">World-Class Prime Streaming.</h4>
    <hr>
    <p class="card-text"> Follow the action as it unfolds, even if you can't be physically present in the stadium.</p>
  </div></a>
  <div class="News_card3 card-body">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.6 16.6L4 12l4.6-4.6L10 8.85L6.85 12L10 15.15L8.6 16.6ZM5 17h2v1h10v-1h2v4q0 .825-.588 1.413T17 23H7q-.825 0-1.413-.588T5 21v-4ZM7 7H5V3q0-.825.588-1.413T7 1h10q.825 0 1.413.588T19 3v4h-2V6H7v1Zm8.4 9.6L14 15.15L17.15 12L14 8.85l1.4-1.45L20 12l-4.6 4.6Z"/></svg>
    <h4 class="card-title">Experience Prime Magic.</h4>
    <hr>
    <p class="card-text">We provide live hits, play-by-play commentary, and interactive prime trackers.</p>

  </div>
</div>

<div class="horizonal_card">
  <div class="horizontal_card mb-3" style="max-width: 99%;">
    <div class="row g-0">
      <div class="col-md-6">
        <a>

          <video #videoPlayer10 id="singleVideo10" preload="auto" autoplay class="d-block w-100" alt="Frrst Slide">
            <source src="assets/img/sniperElite3.mp4" type="video/mp4">
          </video>

        </a>
        <div class="horizontal_card-body">
          <a><h5 class="card-title">Targets Galore Here.</h5>
            <p class="card-text">Navigate effortlessly through a comprehensive collection of snipes using our user-friendly interface. Filter by team, league, player, or tournament to find the precise encounter that stirs your passion. Detailed prime descriptions, team line-ups, and statistics accompany each game, deepening your understanding of the events on the pitch.
              <a href="https://coldsniper.com/dashboard2" target="_blank"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>
            </p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </a>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="index_page_cards" >
  <a href="#">
    <div class="index_card">
<!--      <video #videoPlayer8 id="singleVideo8" preload="auto" autoplay class="singleVideo8 w-100" alt="Frrst Slide">-->
<!--        <source src="assets/img/sniperVid2.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper6.jpg" class="card-img-top1" alt="Second Slide">

      <div class="index-card-body">
        <p class="index-card-text">Join our vibrant community and engage in lively discussions with prime enthusiasts.  </p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="index_card">
<!--      <video #videoPlayer9 id="singleVideo9" preload="auto" autoplay class="singleVideo9 w-100" alt="Frrst Slide">-->
<!--        <source src="assets/img/sniperVid3.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper7.jpg" class="card-img-top1" alt="Second Slide">

      <div class="index-card-body">
        <p class="index-card-text">Engage in lively discussions, share your thoughts on snipes, and connect with fans.</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="index_card">
<!--      <video #videoPlayer10 id="singleVideo10" preload="auto" autoplay class="singleVideo10 w-100" alt="Frrst Slide">-->
<!--        <source src="assets/img/sniperVid6.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper5.jpg" class="card-img-top1" alt="Second Slide">

      <div class="index-card-body">
        <p class="index-card-text">Our forums provide a platform for passionate debates, tactical analysis, and the celebration.</p>
      </div>
    </div></a>
</div>

<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel" style="width:100vw">

  <div class="carousel-inner">
    <div class="carousel-item active">

<!--      <video #videoPlayer11 id="singleVideo11" preload="auto" autoplay class="d-block w-100" alt="First Slide">-->
<!--        <source src="assets/img/sniperVid4.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper2.jpg" class="d-block w-100" alt="Second Slide">

      <div class="carousel-caption d-none d-md-block">
        <h1>Target. Snipe. Repeat.</h1>

        <h3>
          Browse a vast archive of snipes, reliving iconic moments and historic triumphs.
        </h3>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>


</div>





<!-- Modal -->
<div id="emailModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <form id="emailForm" action="/send-email" method="POST" onsubmit="sendEmail(event)">
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="email" placeholder="Your Email" required>
      <textarea name="message" placeholder="Your Message" required></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
</div>

<div id="disclaimerModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close" onclick="closeDisclaimerModal()">&times;</span>
    Copyright Disclaimer for primesnipertechnologysolutions.com

    Disclaimer:

    The content on this website, primesnipertechnologysolutions.com, may include multimedia elements such as videos, images, or audio clips. We strive to respect the intellectual property rights of others and make diligent efforts to comply with applicable copyright laws.

    Use of IGN Video:

    In certain instances, we may use video content from IGN (Imagine Games Network) for informational or illustrative purposes on this website. The use of such content is not intended to infringe upon the copyright of IGN or any other third party.

    Acknowledgment:

    We acknowledge that all copyrights and intellectual property rights to the IGN video content remain with IGN or the respective copyright owners. Our use of this content is based on the understanding that it falls under the principles of fair use, transformative use, or other applicable legal doctrines.

    Non-commercial Intent:

    Our use of the IGN video content on primesnipertechnologysolutions.com is strictly non-commercial and is intended for educational, commentary, or informational purposes.

    Attribution:

    Wherever possible, we provide proper attribution to the source of the video content, including acknowledgment of IGN as the original creator or copyright holder.

    Request for Removal:

    If you are a representative of IGN or hold the copyright to the content in question and believe that its use on primesnipertechnologysolutions.com violates your rights, please contact us promptly. We are committed to resolving any legitimate concerns and will take appropriate action.

    Legal Advice:

    This disclaimer is not legal advice. For specific legal concerns or questions regarding copyright issues, please consult with a qualified legal professional.

    Contact Information:

    For copyright-related inquiries or requests, please contact us at [+233 248 189 134].
  </div>
</div>

</body>


