
<div class="row" style="height: auto;">
  <div class="sidebar" id="sidebar">
  </div>
  <div class="col-md-6 border">
    <h5 class="side_columns_header" style="margin: 10px 44%">To Do Planner</h5>
    <form [formGroup]="formGroup" id="insertForm">
      <div class="form-group">
        <label for="insert_taskCategory">Task Category</label>
            <select id="insert_taskCategory" formControlName="selectedCategory" (change)="onCategoryChange()" class="form-control">
          <option *ngFor="let taskCategory of taskCategory" [value]="taskCategory">{{ taskCategory }}</option>
        </select>
      </div>
      <br>
        <div class="form-group">
          <label for="insert_task">Task</label>
          <input  type="text" id="insert_task" formControlName="task" class="form-control"  placeholder="" required>
        </div>
      <br>
      <label for="insert_date">Date</label>
        <input type="date" id="insert_date" formControlName="date" class="form-control" required>
      <br>
      <label for="insert_date">Time</label>
      <br>
      <input type="time" id="insert_time" formControlName="time" class="form-control" required>
       <br>
        <div class="form-group">
          <label for="insert_notes">Notes</label>
          <input type="text" id="insert_notes" formControlName="taskNotes" class="form-control" rows="3" required>

        </div>
    <br>
      <button class="submit" type="submit" (click)="saveTodo()" class="btn btn-danger" style="margin-left: 10px"> Insert</button>
     <br>

      <h5 class="side_columns_header" style="margin: 10px 47%">Plans</h5>
      <thead  class="table-dark">
      <tr class="bg-primary">
        <th scope="col">Id</th>
        <th scope="col">Task Category</th>
        <th scope="col">Task</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Notes</th>
        <th scope="col">Entry Time</th>
        <th scope="col"  style="padding-right:0 ">Actions</th>
      </tr>
      </thead>
      <tr class="bg-primary1" *ngFor="let todo of todos" (click)="fetchTodoData(todo.id)">
        <td class="bg-primary1" id= "id" >{{todo.id}}</td>
        <td class="bg-primary1" id= "taskCategory" >{{todo.taskCategory}}</td>
        <td class="bg-primary1" id= "task" >{{todo.task}}</td>
        <td class="bg-primary1" id= "date" >{{todo.date}}</td>
        <td class="bg-primary1" id="customer_id_user" >{{todo.time}}</td>
        <td class="bg-primary1" id= "taskNotes" >{{todo.taskNotes}}</td>
        <td class="bg-primary1" id="createdAt" >{{todo.createdAt}}</td>
        <td style="display: flex; padding-right:0 ">
          <!-- Add this button in your Angular component's HTML template -->
          <button type="button" class="EditBtn"  onclick="openUpdateModal()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 19h1.4l8.625-8.625l-1.4-1.4L5 17.6V19ZM19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575t1.412.575l1.4 1.4q.575.575.6 1.388t-.55 1.387L19.3 8.925ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6l4.25 4.25Zm-3.525-.725l-.7-.7l1.4 1.4l-.7-.7Z"/></svg></button>
          <button (click)="confirmDone(todo.id)" class="btn btn-danger" style="margin-left: 10px"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.77 5.03l1.4 1.4L8.43 19.17l-5.6-5.6l1.4-1.4l4.2 4.2L19.77 5.03m0-2.83L8.43 13.54l-4.2-4.2L0 13.57L8.43 22L24 6.43L19.77 2.2z"/></svg></button>

          <button (click)="confirmDelete(todo.id)" class="btn btn-danger" style="margin-left: 10px"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.413-.588T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.588 1.413T17 21H7ZM17 6H7v13h10V6ZM9 17h2V8H9v9Zm4 0h2V8h-2v9ZM7 6v13V6Z"/></svg></button>
        </td>
      </tr>
    </form>


  </div>


  <div class="col-md-6 border" >
    <div style="margin: 10px 25%">
    <h5 class="side_columns_header" style="margin: 10px 50%">Done</h5>

    <thead  class="table-dark" >
    <tr class="bg-primary">
      <th scope="col">Id</th>
      <th scope="col">Task Category</th>
      <th scope="col">Task</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Notes</th>
      <th scope="col">Entry Time</th>
      <th scope="col"  style="padding-right:0 ">Actions</th>
    </tr>
    </thead>
    <tr class="bg-primary1" *ngFor="let doneTodo of doneTodos" (click)="fetchTodoData(doneTodo.id)">
      <td class="bg-primary1" id= "doneId" >{{doneTodo.id}}</td>
      <td class="bg-primary1" id= "doneTaskCategory" >{{doneTodo.taskCategory}}</td>
      <td class="bg-primary1" id= "doneTask" >{{doneTodo.task}}</td>
      <td class="bg-primary1" id= "doneDate" >{{doneTodo.date}}</td>
      <td class="bg-primary1" id="doneTime" >{{doneTodo.time}}</td>
      <td class="bg-primary1" id= "doneTaskNotes" >{{doneTodo.taskNotes}}</td>
      <td class="bg-primary1" id="doneCreatedAt" >{{doneTodo.createdAt}}</td>
      <td style="display: flex; padding-right:0 ">
        <button (click)="confirmDoneDeleteFromLocalStorage(doneTodo.id)" class="btn btn-danger" style="margin-left: 10px"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.413-.588T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.588 1.413T17 21H7ZM17 6H7v13h10V6ZM9 17h2V8H9v9Zm4 0h2V8h-2v9ZM7 6v13V6Z"/></svg></button>
      </td>
    </tr>

  </div>
  </div>
</div>


<!-- Update Modal -->
<div id="updateModal" class="modal-overlay" *ngFor="let todo of todos">
  <div class="modal-content">
    <span class="close" onclick="closeUpdateModal()"><button class="close">Close</button></span>
    <form [formGroup]="formGroup" id="updateForm">
        <div class="form-group">
          <label for="insert_updateTaskCategory">Task Category</label>
          <select class="form-control" id="insert_updateTaskCategory">
            <option *ngFor="let taskCategory of taskCategory" [value]="taskCategory">{{ taskCategory }}</option>
          </select>
        </div>
      <label>Task
        <input type="text" id="update_task" formControlName="task" required>
      </label>
      <br>
      <label>Date
        <input type="date" id="update_date" formControlName="date" required>
      </label>
      <br>
      <label>Time
        <input type="time" id="update_time" formControlName="time" required>
      </label>
      <label>Task Notes
        <input type="text" id="update_taskNotes" formControlName="taskNotes" required>
      </label>
      <!--      <label>First Name-->
      <!--        <input type="text" id="firstnameVal" name="first_name" formControlName="firstname" required>-->
      <!--      </label>-->
      <!--      <label>Last Name-->
      <!--        <input type="text" id="lastnameVal" name="last_name" formControlName="lastname" required>-->
      <!--      </label>-->
      <!--      <label>E-mail-->
      <!--        <input type="text" id="emailVal" name="email_name" formControlName="email" required>-->
      <!--      </label>-->
      <button class="submit" type="submit" (click)=" confirmUpdate(todo.id)" id="submitUpdatedData">Update</button>
    </form>

  </div>
</div>

