<head>
  <link rel="stylesheet" type="text/css" href="projects.component.css">
</head>


<div class="index_page_cards" >
  <a href="#">
    <div class="index_card">
<!--      <video #videoPlayer8 id="singleVideo8" preload="auto" autoplay class="singleVideo8 w-100" alt="Frrst Slide">-->
<!--        <source src="assets/img/sniperVid5.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper9.jpg" class="card-img-top1" alt="Second Slide">

      <div class="index-card-body">
        <h5>Prime Management System</h5>
        <hr>
        <br>
        <p class="index-card-text">Manage customer details and  business inventory.  </p>
        <a routerLink="/sniperlist" target="_blank" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce" style="color: whitesmoke; z-index: 1;">Prime Management</button></a>
<!--        <a href="https://primesniper.onrender.com/Snipers/primeSniper" target="_blank" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Prime Management</button></a>-->
      </div>
    </div>
  </a>
  <a href="#">
    <div class="index_card">
<!--      <video #videoPlayer9 id="singleVideo9" preload="auto" autoplay class="singleVideo9 w-100" alt="Frrst Slide">-->
<!--        <source src="assets/img/sniperVid3.mp4" type="video/mp4">-->
<!--      </video>-->
      <img src="assets/img/sniper6.jpg" class="card-img-top1" alt="Second Slide">

      <div class="index-card-body">
        <h5>Prime To Do Application</h5>
        <hr>
        <br>
        <p class="index-card-text">Manage your busy schedule with Prime To Do.</p>
        <a href="/ToDoApplication" target="_blank" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce" style="color: whitesmoke; z-index: 1;">Prime Scheduling</button></a>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="index_card">
<!--      <video #videoPlayer10 id="singleVideo10" preload="auto" autoplay class="singleVideo10 w-100" alt="First Slide">-->
<!--        <source src="assets/img/sniperVid6.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper8.jpg" class="card-img-top1" alt="Second Slide">

      <div class="index-card-body">
        <h5>ColdSniper.com</h5>
        <hr>
        <br>
        <p class="index-card-text">Navigate our user-friendly collection of matches.</p>
        <a href="https://coldsniper.com" target="_blank" style="color: whitesmoke; position: relative; z-index: 1;"><button class="btn animate__animated animate__bounce" style="color: whitesmoke; z-index: 1;">Prime Streaming</button></a>
      </div>
    </div></a>
</div>


<div class="horizonal_card" >
  <div class="horizontal_card mb-3" style="max-width: 99%;">
    <div class="row g-0">
      <div class="col-md-6">
        <a>
<!--          <video #videoPlayer7 id="singleVideo7" preload="auto" autoplay class="d-block w-100" alt="Frrst Slide">-->
<!--            <source src="assets/img/sniperVid6.mp4" type="video/mp4">-->
<!--          </video>-->

          <img src="assets/img/sniper6.jpg" class="d-block w-100" alt="Second Slide">

        </a>
        <div class="horizontal_card-body">
          <a><h5 class="card-title">Targets Galore Here.</h5>
            <p class="card-text">Navigate effortlessly through a comprehensive collection of snipes using our user-friendly interface. Filter by team, league, player, or tournament to find the precise encounter that stirs your passion. Detailed prime descriptions, team line-ups, and statistics accompany each game, deepening your understanding of the events on the pitch.
              <a href="https://coldsniper.com" target="_blank"><button class="btn animate__animated animate__bounce animate__infinite" style="color: whitesmoke; z-index: 1;">Snipe Matches</button></a>
            </p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </a>

        </div>

      </div>
    </div>
  </div>
</div>
<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel" style="width:100vw">

  <div class="carousel-inner">
    <div class="carousel-item active">

<!--      <video #videoPlayer11 id="singleVideo11" preload="auto" autoplay class="d-block w-100" alt="First Slide">-->
<!--        <source src="assets/img/sniperVid4.mp4" type="video/mp4">-->
<!--      </video>-->

      <img src="assets/img/sniper1.jpg" class="d-block w-100" alt="Second Slide">

      <div class="carousel-caption d-none d-md-block">
        <h1>Target. Snipe. Repeat.</h1>

        <h3>
          Browse a vast archive of snipes, reliving iconic moments and historic triumphs.
        </h3>
        <br>
        <br>
        <br>
      </div>
    </div>

  </div>


</div>

<div id="disclaimerModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close" onclick="closeDisclaimerModal()">&times;</span>
    Copyright Disclaimer for primesnipertechnologysolutions.com

    Disclaimer:

    The content on this website, primesnipertechnologysolutions.com, may include multimedia elements such as videos, images, or audio clips. We strive to respect the intellectual property rights of others and make diligent efforts to comply with applicable copyright laws.

    Use of IGN Video:

    In certain instances, we may use video content from IGN (Imagine Games Network) for informational or illustrative purposes on this website. The use of such content is not intended to infringe upon the copyright of IGN or any other third party.

    Acknowledgment:

    We acknowledge that all copyrights and intellectual property rights to the IGN video content remain with IGN or the respective copyright owners. Our use of this content is based on the understanding that it falls under the principles of fair use, transformative use, or other applicable legal doctrines.

    Non-commercial Intent:

    Our use of the IGN video content on primesnipertechnologysolutions.com is strictly non-commercial and is intended for educational, commentary, or informational purposes.

    Attribution:

    Wherever possible, we provide proper attribution to the source of the video content, including acknowledgment of IGN as the original creator or copyright holder.

    Request for Removal:

    If you are a representative of IGN or hold the copyright to the content in question and believe that its use on primesnipertechnologysolutions.com violates your rights, please contact us promptly. We are committed to resolving any legitimate concerns and will take appropriate action.

    Legal Advice:

    This disclaimer is not legal advice. For specific legal concerns or questions regarding copyright issues, please consult with a qualified legal professional.

    Contact Information:

    For copyright-related inquiries or requests, please contact us at [+233 248 189 134].
  </div>
</div>



