<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="description" content="Watch Free Football Matches | Live Stream|">
  <meta name="keywords" content="Watch, Free, Live , Football, Matches, Soccer ">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--CSP Directives-->
</head>

<div class="row">
  <button type="button" onclick="openDisclaimerModal()">Open Disclaimer</button>

  <div id="disclaimerModal" class="modal-overlay">
    <div class="modal-content">
      <span class="close" onclick="closeDisclaimerModal()">&times;</span>
      Copyright Disclaimer for primesnipertechnologysolutions.com

      Disclaimer:

      The content on this website, primesnipertechnologysolutions.com, may include multimedia elements such as videos, images, or audio clips. We strive to respect the intellectual property rights of others and make diligent efforts to comply with applicable copyright laws.

      Use of IGN Video:

      In certain instances, we may use video content from IGN (Imagine Games Network) for informational or illustrative purposes on this website. The use of such content is not intended to infringe upon the copyright of IGN or any other third party.

      Acknowledgment:

      We acknowledge that all copyrights and intellectual property rights to the IGN video content remain with IGN or the respective copyright owners. Our use of this content is based on the understanding that it falls under the principles of fair use, transformative use, or other applicable legal doctrines.

      Non-commercial Intent:

      Our use of the IGN video content on primesnipertechnologysolutions.com is strictly non-commercial and is intended for educational, commentary, or informational purposes.

      Attribution:

      Wherever possible, we provide proper attribution to the source of the video content, including acknowledgment of IGN as the original creator or copyright holder.

      Request for Removal:

      If you are a representative of IGN or hold the copyright to the content in question and believe that its use on primesnipertechnologysolutions.com violates your rights, please contact us promptly. We are committed to resolving any legitimate concerns and will take appropriate action.

      Legal Advice:

      This disclaimer is not legal advice. For specific legal concerns or questions regarding copyright issues, please consult with a qualified legal professional.

      Contact Information:

      For copyright-related inquiries or requests, please contact us at [+233 248 189 134].
    </div>
  </div>
  <div class="grid-container"  >


    <div class="grid-item">
      <video #videoPlayer10 id="singleVideo9" preload="auto" autoplay class="singleVideo10 w-100" alt="Frrst Slide">
        <source src="assets/img/sniperElite4.mp4" type="video/mp4">
      </video>      </div>
    <div class="grid-item">
      <video #videoPlayer10 id="singleVideo8" preload="auto" autoplay class="singleVideo10 w-100" alt="Frrst Slide">
        <source src="assets/img/sniperElite4.mp4" type="video/mp4">
      </video>
    </div>
    <div class="grid-item">
      <video #videoPlayer10 id="singleVideo10" preload="auto" autoplay class="singleVideo10 w-100" alt="Frrst Slide">
        <source src="assets/img/sniperElite4.mp4" type="video/mp4">
      </video>      </div>


    <div class="grid-item">
    <img src="assets/img/sniper1.jpg" alt="Image 1">
  </div>
    <div class="grid-item">
      <img src="assets/img/sniper3.jpg" alt="Image 2">
    </div>
  <div class="grid-item">
    <img src="assets/img/sniper5.jpg" alt="Image 4">
  </div>

  <div class="grid-item">
    <img src="assets/img/sniper6.jpg" alt="Image 5">
  </div>
  <div class="grid-item">
    <img src="assets/img/sniper7.jpg" alt="Image 6">
  </div>
  <div class="grid-item">
    <img src="assets/img/sniper9.jpg" alt="Image 8" loading="lazy">
  </div>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="index.js" charset="utf-8"></script>

<script>
  AOS.init();
</script>





